{% extends 'base.html.twig' %}
{% block body %}
    <nav id="categoryNav" class="container my-12 mx-auto px-4 md:px-12">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <div class="w-full block mw-auto">
                <ul class="flex mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium ">
                    {% for row in categories %}
                        <li class="border-b border-gray-200">
                            <button id="button{{ row.name }}"
                                    class=" cursor-pointer block py-2 pr-4 pl-3 rounded md:bg-transparent text-gray-700 md:p-0 dark:text-white hover:text-orange-400"
                            >{{ row.name }}</button>

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    {% for category in categories %}
        <div id="display{{ category.name }}" class="hidden">
            <div class="container my-12 mx-auto px-4 md:px-12">
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ category.name }}</h2>
                <p class="text-base text-gray-600">{{ category.description }}</p>
                <div class="flex flex-wrap -mx-1 lg:-mx-4">
                    {% for product in products %}
                        {% if product.category.name == category.name %}

                            <!-- Column -->
                            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                                <!-- card -->
                                <div class="overflow-hidden rounded-lg border border-gray-200 ">
                                    <header class="flex flex-col items-left justify-between leading-tight p-4 md:p-4">
                                        <h4 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ product.name }}</h4>
                                        <p class="font-normal text-gray-700 dark:text-gray-400">{{ product.description }}</p>
                                        <h5 class="text-sm text-gray-500 dark:text-gray-400 mb-4">
                                            €{{ product.price / 100 }}</h5>
                                        <a href="/product/{{ product.id }}"
                                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                            Add to cart
                                        </a>
                                    </header>
                                </div>
                                <!-- END card -->

                            </div>
                            <!-- END Column -->

                        {% endif %}

                    {% endfor %}

                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}



