{% extends 'entry.html.twig' %}
{% block body %}
    <h2 class="text-3xl font-medium">Total ordered products</h2>
    {% if totalProducts | default("") %}
        {% for key, value in totalProducts %}

            <div class="mb-4 flex pb-2 border-b border-gray-200">
                <p class="mt-1 mr-8 text-sm text-gray-600">{{ key }} </p>
                <p class="mt-1 mr-32 text-sm text-gray-800 font-bold">{{ value }}</p>

            </div>
        {% endfor %}

    {% endif %}

    <h2 class="text-3xl font-medium mt-4">Orders per user</h2>
    {% if totalPerUser | default("") %}
        {% for key, value in totalPerUser %}
            <h2 class="mt-1 mr-8 text-sm text-gray-600 font-bold">{{ key }} </h2>
            {% set total = 0 %}

            {% for key, value in value %}
                <div class="mb-4 flex pb-2 border-b border-gray-200">
                    <p class="mt-1 mr-8 text-sm text-gray-600">{{ key }} </p>
                    <p class="mt-1 mr-32 text-sm text-gray-800">{{ value }}</p>
                    <p class="mt-1 mr-32 text-sm text-gray-800 font-bold">€{{ (value*productPrices[key] )/100 }}</p>
                    {% set total = total + value*productPrices[key] %}
                </div>
            {% endfor %}
            <h2>Total: €{{ total/100 }}</h2>

        {% endfor %}

    {% endif %}
{% endblock %}